transformers==4.28.1
datasets==2.10.1
torch==1.12.1
wget==3.2
pycocoevalcap==1.2
spacy==3.5.1
prettytable==3.7.0
fairscale==0.4.13
evaluate==0.4.0
bert-score==0.3.13
cpm-kernels==1.0.11
sentencepiece==0.1.97
fschat==0.2.8
numpy==1.24.3
tabulate==0.9.0
nltk==3.8.1
pandas==2.0.2
wandb==0.14.2
sacrebleu==2.3.1
accelerate==0.18.0
openai==0.27.4

# spacy-legacy==3.0.12
# spacy-loggers==1.0.4


# transformers>=4.31.0
        # 'datasets',
        # 'torch',
        # 'wget',
        # 'pycocoevalcap',
        # 'spacy',
        # 'prettytable',
        # 'fairscale',
        # 'evaluate',
        # 'bert_score',
        # 'cpm_kernels',
        # 'sentencepiece',
        # 'fschat',
        # 'numpy',
        # 'tabulate',
        # 'nltk',
        # 'scipy',
        # 'matplotlib',
        # 'pandas',
        # 'scikit-learn',
        # 'protobuf<=3.20.1',
        # 'wandb',
        # 'sacrebleu',
        # 'dataclasses-json',
        # 'accelerate',
        # 'safetensors',
        # 'gradio',
        # 'openai